/* Estilos generales */
body {
    margin: 0;
    font-family: "Slabo 27px", serif;
    /*font-family: "Nixie One", serif;*/
    padding: 0;
    font-size: 24px;
    background-color: #100B00;
    /* Azul-morado oscuro */
    color: #EFFFC8;
    /* Verde neón */
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

/* Header */
/* Header */
header {
    background-color: #1B170E;
    padding: 5px 20px; /* Pequeño padding a los lados */
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 50px;
    display: flex;
    justify-content: space-between; /* Separa el título y el menú */
    align-items: center; /* Centra verticalmente los elementos */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

header h1 {
    margin: 0px 10px;
    font-size: 20px; /* Ajusta el tamaño si lo necesitas */
    color: #85CB33; /* Verde neón */
    white-space: nowrap; /* Evita que el título se divida en varias líneas */
}

nav {
    overflow: hidden; /* Oculta el contenido que se desborda */
    white-space: nowrap; /* Evita que los enlaces se dividan en varias líneas */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end; /* Alinea los elementos del menú a la derecha */
}

nav ul li {
    margin: 0 15px; /* Reduce el espaciado entre elementos del menú */
}

nav ul li a {
    text-decoration: none;
    color: #A5CBC3;
    font-size: 17px;
    line-height: 40px; /* Igual a la altura del header */
}

nav ul li a:hover {
    color: #eea75b; /* Cambia el color al pasar el mouse */
    text-shadow: 0 0 5px rgba(239, 163, 82, 0.7); /* Añade un efecto de brillo */
}

/* Secciones en horizontal */
main {
    display: flex;
    width: 300vw;
    /* 3 secciones de 100vw cada una */
    transition: transform 0.5s ease-in-out;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos para la sección "Sobre mí" */
#about-me {
    background-color: #100B00;
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

.content {
    display: flex;
    align-items: center; /* Centra verticalmente la imagen y el texto */
    gap: 40px; /* Espacio entre la imagen y el texto */
    max-width: 1000px; /* Ancho máximo del contenido */
    padding: 20px; /* Espaciado interno */
}

.profile-picture {
    width: 250px; /* Tamaño de la imagen */
    height: 250px;
    border-radius: 25%; /* Hace la imagen redonda */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.description {
    color: #EFFFC8; /* Color del texto */
    font-size: 30.5px; /* Tamaño del texto */
    line-height: 1.5; /* Espaciado entre líneas */
    margin: 0 10px; /* Elimina el margen por defecto del párrafo */
    text-align: center; /* Justifica el texto */
    width: 100%; /* Asegura que el texto ocupe todo el espacio disponible */
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.8); /* Sombra para el texto */
    
}

/* Estilos para cada sección */

#projects {
    background-color: #0F0A00;
}

#contact {
    background-color: #100B00;
}